.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00586b;
    color: #d4d2dc;
    padding: 10px 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 21px 20px;
    transition: all 0.3s ease-in;
}

.nav a:hover {
    background-color: #13a5df;
    color: white;
}